# ignore git directories
.git

# ignore cache directories
**/__pycache__/

# ignore logs files
cron.log

# ignore environment directory
tts-service

# ignore resources files
app/resources/*

# ignore environment variables
.env
